[Unit]
Description=SageMathCell computation server


[Service]
Type=notify
NotifyAccess=all
SyslogIdentifier=SageMathCell

ExecStartPre=\
    -/usr/bin/pkill -u {worker} ;\
    /bin/rm -rf /tmp/sagecell ;\
    /bin/mkdir /tmp/sagecell ;\
    /bin/chown {server}:{group} /tmp/sagecell ;\
    /bin/chmod g=wxs,o= /tmp/sagecell

PermissionsStartOnly=true
WorkingDirectory=/home/{server}/sagecell
User={server}
ExecStart=/home/{server}/sage/sage web_server.py

ExecStartPost=/root/healthcheck on

ExecStopPost=/root/healthcheck off


[Install]
WantedBy=multi-user.target
