*.pyc
mongo/*
sqlite.db
sqlalchemy_sqlite.db
doc/_build/*
.idea
static/mathjax/*
static/jmol

# ignore timing test results
timing/results
2011*

# ignore the default directory for the filesystem filestore
files/*

# generated web files
static/all*
minifiers/jsmin

