*.pyc
*~
doc/_build/*
tests/multimechanize/results/
sqlite.db
config.py
templates/tos.html

# generated web files
submodules/jsmin-bin
static/jmol
static/all*
static/codemirror.js
static/jquery.min.js
static/sockjs.js
static/wrap.js
