#mycanvas {
    border: solid black 1px;
    min-width: 600px;
    min-height: 300px;
}
.cell{
    /*border: solid black 1px; */
    width: 400px;
    /*min-height: 30px;*/
}

/* We shouldn't need this custom CSS! */
.sagecell_messages { display:none;}
.sagecell_sessionTitle {display:none;}
.sagecell_permalinks {display:none;}



/* from http://www.mikepadgett.com/technology/technical/alternative-to-the-pie-clearfix-hack/ */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */