body {
    margin-bottom: 80%;
    margin-left: 50px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: mediumblue;
}

a:hover {
    text-decoration: underline;
}

.sagecell button.sagecell_evalButton {
    font-size: 120%;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    min-height: 12ex;
    max-height: 45ex;
}
