body {
    margin-left: 50px;
    font-family: sans-serif;
    background-color: white;
}

#sagecell_main {
    /* This is so that an interact that changes size
       doesn't cause the browser to scroll everything up and down */
    margin-bottom: 80%;
}

a {
    text-decoration: none;
    color: mediumblue;
}

a:hover {
    text-decoration: underline;
}

.sagecell button.sagecell_evalButton {
    font-size: 120%;
}

#sagecell_about {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 80%;
}

ol.sagecell_toc,
ol.sagecell_toc ol {
   list-style: none;
}

.sagecell_disclaimer {
    font-size: 80%;
}

.sagecell .CodeMirror-scroll {
    min-height: 14em;
}
