.sagecell_messages div {
    margin-bottom: 12pt !important;
}

.sagecell_sliderControl {
    display: inline-block !important;
    width: 15.0em !important;
    margin-right: 1.0em !important;
    margin-left: 1.0em !important;
}

.sagecell_multiSliderContainer {
    margin-left: 1.0em !important;
    whitespace: nowrap !important;
}

.sagecell_multiSliderControl {
    display: inline-block !important;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
    margin-top: 1.25em !important;
}

.sagecell_colorSelector {
    display: inline-block !important;
    width: 2em !important;
    height: 2em !important;
    border: 2px solid gray !important;
    border-radius: 3px !important;
    padding: 1px !important;
    cursor: pointer !important;
    vertical-align: middle !important;
}

.error, .stderr {
    color: red !important;
}

.colorpicker {
    z-index: 10 !important;
}

.CodeMirror {
    border: 1px solid !important;
}

/* resizable */
/* .CodeMirror-scroll {height: auto; overflow-y: auto; overflow-x: auto; min-height: 10ex; max-height: 60ex;}  */

/* not resizeable */
.CodeMirror-scroll {
    height: 200px;
}

.sagecell_output, .sagecell_input {
    overflow: hidden !important;
    padding-right: 2px !important;
}

.sagecell_output_elements {
    margin-top: 0.5em !important;
}

.sagecell_permalink {
    padding-right: 5px !important;
    text-align: right !important;
}

.sagecell_sessionContainer {
    position: relative !important;
}

.sagecell_sessionOutput {
    position: relative !important;
    border: 2px solid !important;
    padding: 5px !important;
    margin-top: 2px !important;
    min-height: 16px !important;
    overflow-x: auto !important;
}

.sagecell_sessionOutput pre {
    margin: 0px !important;
    border: 0px !important;
}

.sagecell_sessionOutput.sagecell_active {
    border-color: #080 !important;
}

.sagecell_poweredBy {
    float: right !important;
    padding: 3px 5px 5px 0px !important;
    text-align: right !important;
    overflow: visible !important;
    font-size: 80% !important;
}

.sagecell_poweredBy img {
    vertical-align: -5px !important;
    border-style: none !important;
    text-decoration: none !important;
}

.sagecell_spinner {
    position: absolute !important;
    right: 5px !important;
    top: 5px !important;
}

.sagecell_sessionFiles {
    width: 80% !important;
    padding-bottom: 1.0em !important;
}

.sagecell_interactContainer {
    padding: 15px 5px 5px 5px !important;
}

.sagecell_interactOutput {
    padding: 10px !important;
    overflow-x: auto !important;
}

.sagecell_interactValueBox {
    border: 1px solid transparent !important;
    background-color: transparent !important;
    vertical-align: top !important;
    font-family: monospace !important;  /* Required since dynamic input box size is determined by monospaced fonts */
}

.sagecell_interactValueBox:hover {
    border-color: lightgray !important;
}

.sagecell_interactValueBox:focus {
    border-color: gray !important;
}

.sagecell_interactControls {
    border-spacing: 0px 2px !important;
    width: auto !important;
}

.sagecell_interactControls .sagecell_interactcontrollabelcell {
    text-align: right !important;
    padding-right: 0.5ex !important;
    padding-top: 0.6ex !important;
    padding-bottom: 0.6ex !important;
    border-width: thin 0px thin thin !important;
    border-style: solid !important;
    border-color: transparent !important;
}

.sagecell_interactControls .sagecell_interactcontrolcell {
     border-width: thin thin thin 0px !important;
    border-style: solid !important;
    border-color: transparent !important;
}

.sagecell_sliderContainer {
    white-space: nowrap !important;
}

.sagecell_interactControls > tr > td.sagecell_dirtyControl {
    border-color: red !important;
}

.sagecell_commands, .sagecell .ui-widget .sagecell_commands {
    width: 100% !important;
    height: 200px !important;
    border: 1px solid !important;
    font-family: monospace !important;
    font-size: 10pt !important;
}

.sagecell_editor {
    line-height: 13px !important;
    margin-bottom: 8px !important;
}

.sagecell_options {
    display: inline-block !important;
    margin-right: 2px !important;
    float: right !important;
    text-align: right !important;
    font-size: 80% !important;
}

.sagecell_editorToggle input {
    vertical-align: middle !important;
}

.sagecell_editor div.ui-accordion-content.ui-helper-reset {
    padding: 1em 0.5em !important;
    font-size: 90.9% !important;
}

.sagecell_advancedFrame {
    border-radius: 5px;
    background-color: #ddf;
    border: 1px solid;
    padding: 0.2em;
    display: inline-block;
    width: 300px;
    overflow: hidden;
    margin-left: 3em;
    margin-bottom: 1em;
    vertical-align: top;
}

.sagecell_advancedTitle {
    cursor: default;
}

.sagecell_advancedFields {
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

.sagecell_fileList li {
    list-style: none;
    position: relative;
}

.sagecell_fileName {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sagecell_deleteButton {
    position: absolute;
    left: -1.2em;
    cursor: pointer;
    margin-right: 5px;
}

.sagecell_deleteButton:hover {
    color: red;
}

.sagecell_deleteButton:active {
    color: darkred;
}

.sagecell_deleteButton:before {
    content: "\2716";
}

.sagecell table.table_form tr.row-a {
    background-color: #f8f8f8 !important;
}

.sagecell table.table_form tr.row-b {
    background-color: #efefef !important;
}

.sagecell table.table_form td {
    padding: 5px 15px !important;
    color: #00a !important;
}

.sagecell .ansibold {font-weight: bold !important;}
.sagecell .ansiblack {color: black !important;}
.sagecell .ansired {color: red !important;}
.sagecell .ansiyellow {color: gold !important;}
.sagecell .ansiblue {color: blue !important;}
.sagecell .ansicyan {color: cyan !important;}
.sagecell .ansigrey {color: gray !important;}
