.sagecell_messages div {
    margin-bottom: 12pt;
}

.sagecell_sliderControl {
    display: inline-block;
    width: 15.0em;
    margin-right: 1.0em;
    margin-left: 1.0em;
}

.sagecell_multiSliderContainer {
    margin-left: 1.0em;
    whitespace: nowrap;
}

.sagecell_multiSliderControl {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 1.25em;
}

.sagecell_colorSelector {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
    vertical-align: middle;
}

.error, .stderr {
    color: red;
}

.colorpicker {
    z-index: 10;
}

.CodeMirror {
    border: 1px solid;
    height: 200px;
}

/* resizable */
/* 
.CodeMirror {
    height: auto;
    min-height: 10ex;
    max-height: 60ex;
}
.CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}
*/


.sagecell_input {
    overflow: hidden;
    padding-right: 2px;
}

.sagecell_output {
    padding-right: 2px;
}

.sagecell_output_elements {
    margin-top: 0.5em;
}

.sagecell_permalink {
    padding-right: 5px;
    text-align: right;
    position: relative;
}

.sagecell_permalink_result {
    display: none;
    position: absolute;
    padding-right: 5px;
    text-align: right;
    right: 0;
    z-index: 100;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fff;
    border: 2px solid #000;
    padding: 5px;
}


.sagecell_sessionContainer {
    position: relative;
}

.sagecell_sessionOutput {
    position: relative;
    border: 2px solid;
    padding: 5px;
    margin-top: 2px;
    min-height: 16px;
    overflow-x: auto;
}

.sagecell_sessionOutput pre {
    margin: 0px;
}

.sagecell_sessionOutput.sagecell_active {
    border-color: #080;
}

.sagecell_poweredBy {
    float: right;
    padding: 3px 5px 5px 0px;
    text-align: right;
    overflow: visible;
    font-size: 80%;
}

.sagecell_poweredBy img {
    vertical-align: -5px;
    border-style: none;
    text-decoration: none;
}

.sagecell_spinner {
    position: absolute;
    right: 5px;
    top: 5px;
}

.sagecell_sessionFiles {
    width: 80%;
    padding-bottom: 1.0em;
}

.sagecell_interactContainer {
    padding: 15px 5px 5px 5px;
}

.sagecell_interactOutput {
    padding: 10px;
    overflow-x: auto;
    vertical-align: top;
}

.sagecell_interactValueBox {
    border: 1px solid transparent;
    background-color: transparent;
    vertical-align: top;
    font-family: monospace;  /* Required since dynamic input box size is determined by monospaced fonts */
}

.sagecell_interactValueBox:hover {
    border-color: lightgray;
}

.sagecell_interactValueBox:focus {
    border-color: gray;
}

.sagecell_interactControls {
    border-spacing: 0px 2px;
    width: auto;
}

.sagecell_interactControls .sagecell_interactcontrollabelcell {
    text-align: right !important;
    padding-right: 0.5ex !important;
    padding-top: 0.6ex !important;
    padding-bottom: 0.6ex !important;
    border-width: thin 0px thin thin;
    border-style: solid;
    border-color: transparent;
}

.sagecell_interactControls .sagecell_interactcontrolcell {
    border-width: thin thin thin 0px;
    border-style: solid;
    border-color: transparent;
}

.sagecell_sliderContainer {
    white-space: nowrap;
}

.sagecell_interactControls > tr > td.sagecell_dirtyControl {
    border-color: red;
}

.sagecell_commands, .sagecell .ui-widget .sagecell_commands {
    width: 100%;
    height: 200px;
    border: 1px solid;
    font-family: monospace;
    font-size: 10pt;
}

.sagecell_editor {
    line-height: 13px;
    margin-bottom: 8px;
}

.sagecell_options {
    display: inline-block;
    margin-right: 2px;
    float: right;
    text-align: right;
    font-size: 80%;
}

.sagecell_editorToggle input {
    vertical-align: middle;
}

.sagecell_editor div.ui-accordion-content.ui-helper-reset {
    padding: 1em 0.5em;
    font-size: 90.9%;
}

.sagecell_advancedFrame {
    border-radius: 5px;
    background-color: #ddf;
    border: 1px solid;
    padding: 0.2em;
    display: inline-block;
    width: 300px;
    overflow: hidden;
    margin-left: 3em;
    margin-bottom: 1em;
    vertical-align: top;
}

.sagecell_advancedTitle {
    cursor: default;
}

.sagecell_advancedFields {
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

.sagecell_fileList li {
    list-style: none;
    position: relative;
}

.sagecell_fileName {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sagecell_deleteButton {
    position: absolute;
    left: -1.2em;
    cursor: pointer;
    margin-right: 5px;
}

.sagecell_deleteButton:hover {
    color: red;
}

.sagecell_deleteButton:active {
    color: darkred;
}

.sagecell_deleteButton:before {
    content: "\2716";
}

.sagecell table.table_form tr.row-a {
    background-color: #f8f8f8;
}

.sagecell table.table_form tr.row-b {
    background-color: #efefef;
}

.sagecell table.table_form td {
    padding: 5px 15px;
    color: #00a;
}

.sagecell .ansibold {font-weight: bold;}
.sagecell .ansiblack {color: black;}
.sagecell .ansired {color: red;}
.sagecell .ansiyellow {color: gold;}
.sagecell .ansiblue {color: blue;}
.sagecell .ansicyan {color: cyan;}
.sagecell .ansigrey {color: gray;}
