.sagecell_messages div {
    margin-bottom: 12pt;
}

.sagecell_sliderControl {
    max-width: 50em;
    margin-right: 1.0em;
    margin-left: 1.0em;
}

.sagecell_multiSliderContainer {
    margin-left: 1.0em;
    whitespace: nowrap;
}

.sagecell_multiSliderControl {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.25em;
}

.sagecell_colorSelector {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
    vertical-align: middle;
}

.sagecell .error, .sagecell .stderr {
    color: red;
}

.sagecell .colorpicker {
    z-index: 10;
}

.sagecell .CodeMirror {
    border: 1px solid;
    height: auto;
}

.sagecell .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    min-height: 3em;
    max-height: 14em;
}

.sagecell .ui-dialog-content {
    font-size: 80%;
}

.sagecell_input {
    overflow: hidden;
    padding-right: 2px;
}

.sagecell_output {
    padding-right: 2px;
}

.sagecell_output_elements {
    margin-top: 0.5em;
}

.sagecell_permalink {
    padding-right: 5px;
    text-align: right;
    position: relative;
}

.sagecell_permalink_result {
    display: none;
    position: absolute;
    padding-right: 5px;
    text-align: right;
    right: 0;
    z-index: 100;
    box-shadow: 10px 10px 5px #888888;
    background-color: #fff;
    border: 2px solid #000;
    padding: 5px;
}


.sagecell_sessionContainer {
    position: relative;
}

.sagecell_sessionOutput {
    position: relative;
    border: 2px solid;
    padding: 5px;
    margin-top: 2px;
    min-height: 16px;
    overflow-x: auto;
}

.sagecell_sessionOutput pre {
    margin: 0px;
}

.sagecell_sessionOutput.sagecell_active {
    border-color: #080;
}

.sagecell_poweredBy {
    float: right;
    padding: 3px 5px 5px 0px;
    text-align: right;
    overflow: visible;
    font-size: 80%;
}

.sagecell_poweredBy img {
    vertical-align: -5px;
    border-style: none;
    text-decoration: none;
}

.sagecell_spinner {
    position: absolute;
    right: 5px;
    top: 5px;
}

.sagecell_sessionFiles {
    width: 80%;
    padding-bottom: 1.0em;
}

.sagecell_interactContainer {
    padding: 15px 5px 5px 5px;
    border: 2px solid lightgray;
}

.sagecell_interactOutput {
    padding: 10px;
    padding-right: 2em;
    padding-left: 2em;
    overflow-x: auto;
    vertical-align: top;
}

.sagecell_interactValueBox {
    border: 1px solid transparent;
    background-color: transparent;
    vertical-align: baseline;
    font-family: monospace;  /* Required since dynamic input box size is determined by monospaced fonts */
    max-width: 10ex;
}

.sagecell_interactValueBox:hover {
    border-color: lightgray;
}

.sagecell_interactValueBox:focus {
    border-color: gray;
}

.sagecell_interactControlCell {
    display: inline-table;
    vertical-align: top;
    min-width: 300px;
}

.sagecell_interactControlLabel {
    display: table-cell;
    text-align: right !important;
    vertical-align: middle !important;
    padding-right: 0.5ex !important;
    padding-top: 0.6ex !important;
    padding-bottom: 0.6ex !important;
    min-width: 10ex;
    overflow-wrap: break-word;
}

.sagecell_interactControl {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 1ex;
    vertical-align: middle;
}

.sagecell_sliderContainer {
    display: table;
    /*width: 100%;*/ /* test: http://localhost:8888/?z=eJxzyMwrSS1KTC7RyEmszC8tsY2O1lDPU9cx1NTRUK9Q1zHWjI3V5OVKSU1TSNPIs9UwAMkoVNhqqKtUqKjrgPmamla8XApAUFAENE0hDwD51BXf&lang=sage */
    height: 100%;
    max-width: 700px;
    min-width: 350px;
}

.sagecell_sliderContainer > div:first-child {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.sagecell_sliderContainer > div:first-child + div {
    display: table-cell;
    min-width: 25ex;
}

.sagecell_dirtyControl {
    box-shadow: 0px 0px 2px 1px #c00;
    transition: box-shadow 1s;
    border-radius: 2px;
}

.sagecell_commands, .sagecell .ui-widget .sagecell_commands {
    width: 100%;
    height: 200px;
    border: 1px solid;
    font-family: monospace;
    font-size: 10pt;
}

.sagecell_editor {
    line-height: 13px;
    margin-bottom: 8px;
}

.sagecell_options {
    display: inline-block;
    margin-right: 2px;
    float: right;
    text-align: right;
    font-size: 80%;
}

.sagecell_editorToggle input {
    vertical-align: middle;
}

.sagecell_editor div.ui-accordion-content.ui-helper-reset {
    padding: 1em 0.5em;
    font-size: 90.9%;
}

.sagecell_advancedFrame {
    border-radius: 5px;
    background-color: #ddf;
    border: 1px solid;
    padding: 0.2em;
    display: inline-block;
    width: 300px;
    overflow: hidden;
    margin-left: 3em;
    margin-bottom: 1em;
    vertical-align: top;
}

.sagecell_advancedTitle {
    cursor: default;
}

.sagecell_advancedFields {
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

.sagecell_fileList li {
    list-style: none;
    position: relative;
}

.sagecell_fileName {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sagecell_deleteButton {
    position: absolute;
    left: -1.2em;
    cursor: pointer;
    margin-right: 5px;
}

.sagecell_deleteButton:hover {
    color: red;
}

.sagecell_deleteButton:active {
    color: darkred;
}

.sagecell_deleteButton:before {
    content: "\2716";
}

.sagecell table.table_form tr.row-a {
    background-color: #f8f8f8;
}

.sagecell table.table_form tr.row-b {
    background-color: #efefef;
}

.sagecell table.table_form td {
    padding: 5px 15px;
    color: #00a;
}

.sagecell .ansiblack {color: black;}
.sagecell .ansired {color: darkred;}
.sagecell .ansigreen {color: darkgreen;}
.sagecell .ansiyellow {color: brown;}
.sagecell .ansiblue {color: darkblue;}
.sagecell .ansipurple {color: darkviolet;}
.sagecell .ansicyan {color: steelblue;}
.sagecell .ansigrey {color: grey;}
.sagecell .ansibold {font-weight: bold;}
