<html>
<head>
<title>Simple Compute Server</title>
<script type=text/javascript>
// Make the script root available to jquery
$URL={'script': {{ request.script_root|tojson|safe }},
'evaluate': {{url_for('evaluate')|tojson|safe}},
'output_poll': {{url_for('output_poll')|tojson|safe}},
'output_long_poll': {{url_for('output_long_poll')|tojson|safe}}
};
</script>
<script type=text/javascript src="{{url_for('static', filename='jquery-1.5.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='compute_server.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='completion.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}"/>
</head>

{% block body %}
{% endblock %}
</html>
