<!-- <form id="command_form" action="/eval" enctype="multipart/form-data" method="post" target="file_upload_target"> -->
<textarea name="commands" id="commands"></textarea><br />
<fieldset>
  <legend>File Uploads</legend>
  <input type="button" value="Add file" id="add_file">
  <input type="button" value="Clear files" id="clear_files">
  <div id = "file_upload"></div>
</fielddset>
<input type="hidden" value="" name="session_id" id="session_id">
<input type="hidden" value="" name="msg_id" id="msg_id">
<div id="completion"></div>
<input type="submit" value="Evaluate" id="evalButton">&nbsp;&nbsp;&nbsp;
<input type="checkbox" checked="yes" id="sage_mode" name="sage_mode" value="True" /> Use &ldquo;Sage Mode&rdquo; for code execution<br />

Computation ID:
<div id="computation_id"></div>
<br/>
<div id="output"><br/><br/></div>
<hr/>
<h3>Messages</h3>
<div id="messages"><br/><br/></div>
