{% extends 'base.html' %}
{% block body %}
 <form id="command_form" action="/eval" enctype="multipart/form-data" method="post" target="file_upload_target">
 <textarea name="commands" id="commands"></textarea><br />
 <p><a href='' id='add_file'>Add File</a>&nbsp;&nbsp;&nbsp;<a href='' id='clear_files'>Clear Files</a></p>
 <div id = "file_upload">
     <input type='file' id='file0' name='file' /><br>
 </div>
 <input type='hidden' value='' name='session_id' id='session_id'/>
 <input type='hidden' value='' name='msg_id' id='msg_id'/>
 <div id="completion"></div>
 <input type="submit" value="Evaluate" id="evalButton"/>&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="yes" id="sage_mode" name="sage_mode" value="True" /> Use "Sage Mode" for code execution<br />
 </form>

Computation ID: <div id="computation_id"></div>
<br/>
<div id="output"><br/><br/></div>


<hr/>
        <h3>Messages</h3>
        <div id="messages"><br/><br/></div>
{% endblock body %}
