<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sage Cell Server</title>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="./embedded_sagecell.js"></script>

    <script>$(function() {sagecell.init(function () {
               sagecell.makeSagecell({inputLocation: '#sagecell', 
                 hide: ["computationID", "messages", "sessionTitle"]
                 {% if code %}, code: decodeURIComponent('{{code}}') {% endif %} }); });});</script>
  </head>
  <body>
    <div id="sagecell"><script type="text/code"></script></div>
  </body>
</html>
