<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sage Cell Server</title>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="./embedded_sagecell.js"></script>
    <script>$(function() {sagecell.init(function () {
               sagecell.makeSagecell({inputLocation: '#sagecell', 
                 hide: ["computationID", "messages", "sessionTitle"]
                 {% if code %}, code: decodeURIComponent('{{code}}') {% endif %} }); });});</script>
<style type="text/css">
.sagecell_evalButton {
font-size: 150%;
background-color: transparent;
//border: 1px solid;
//padding: 0 2px 0 2px;
}

// .CodeMirror-scroll {height: auto; overflow-y: auto; overflow-x: auto; min-height: 3ex; max-height: 60ex;}
//.CodeMirror-scroll {/* Slightly shorter input box */
//    height: 100px;
//}
</style>
</head>
  <body>
    <div id="sagecell"><script type="text/code"></script></div>
  </body>
</html>
