<div class="sagecell_input">
  <div class="sagecell_editor">
    <textarea class="sagecell_commands" autocapitalize="off" autocorrect="off" autocomplete="off"></textarea>
  </div>
  <!-- Explicitly set a button type other than 'submit' so it doesn't submit a form -->
  <button type="button" class="sagecell_evalButton">Evaluate</button> 
  <div class="sagecell_options">
    <div class="sagecell_language">
      <label>
        Language:
        <select>
          <option value="sage">Sage</option>
          <option value="gap">Gap</option>
          <option value="gp">GP</option>
          <option value="html">HTML</option>
          <option value="maxima">Maxima</option>
          <option value="octave">Octave</option>
          <option value="python">Python</option>
          <option value="r">R</option>
          <option value="singular">Singular</option>
        </select>
      </label>
    </div>
    <div class="sagecell_editorToggle">
      <label>
        <input type="checkbox" checked>
        Syntax Highlighting
      </label>
    </div>
  </div>
  <div class="sagecell_advancedFrame">
    <div class="sagecell_advancedTitle">Advanced</div>
    <div style="display:none" class="sagecell_advancedFields">
      <fieldset class="sagecell_files">
        <legend>Upload files</legend>
        <button class="sagecell_addFile">Add file</button>
        <button class="sagecell_clearFiles">Clear files</button>
        <ul class="sagecell_fileList"></ul>
      </fieldset>
    </div>
  </div>
</div>
<div class="sagecell_output_elements">
  <div class="sagecell_output"></div>
  <div class="sagecell_messages">
    <hr>
    <span style="font-size:large;font-weight:bold">Messages</span>
    <br><br>
  </div>
</div>
