<div class="sagecell_editor">
    <textarea class="sagecell_commands" autocapitalize="off" autocorrect="off"></textarea>
    <span class="sagecell_editorToggle">Toggle Plaintext Input</span>
</div>
<input type="button" value="Evaluate" class="sagecell_evalButton">
<div class="sagecell_advancedFrame">
<div class="sagecell_advancedTitle">Advanced</div>

<div style="display:none" class="sagecell_advancedFields">
  <fieldset class="sagecell_files">
  <legend>Upload files</legend>
  <input type="button" value="Add file" class="sagecell_addFile">
  <input type="button" value="Clear files" class="sagecell_clearFiles">
  <div class="sagecell_fileUpload"></div>
</fieldset>
<span class="sagecell_sageMode">
<input type="checkbox" CHECKED class="sagecell_sageModeCheck" name="sage_mode" value="True">
<label for="sage_mode" accesskey="S">Sage code</label><br/>
</span></div>
</div>
<div class="sagecell_output"></div>
<div class="sagecell_computationID"><p>Computation ID:</p></span></div>
<div class="sagecell_messages">
  <hr><span style="font-size:large;font-weight:bold">Messages</span><br><br>
</div>
