<textarea class="singlecell_commands" rows="1" cols="1"></textarea><br>
<fieldset style="width:30%; border:none" class="singlecell_files">
  <legend>Upload Files:</legend>
  <input type="button" value="Add file" class="singlecell_addFile">
  <input type="button" value="Clear files" class="singlecell_clearFiles">
  <div class="singlecell_fileUpload"></div>
</fieldset>
<div class="singlecell_completion"></div>
<input type="button" value="Evaluate" class="singlecell_evalButton">
<span style="display:inline-block;width:3em"></span>
<input type="checkbox" checked="checked" class="singlecell_sageMode" name="sage_mode" value="True">
<label for="sage_mode" accesskey="S">Use &ldquo;Sage Mode&rdquo; for code execution</label>
<br>
<div class="singlecell_output"></div>
<div class="singlecell_computationID"><p>Computation ID:</p></span></div>
<div class="singlecell_messages">
  <hr><span style="font-size:large;font-weight:bold">Messages</span><br><br>
</div>
