
<html>

<head>
  
</head>

<body>
  <p>This is a demo of portions of the IPython 0.12+ javascript libraries. <b>Code to Execute:</b></p>
  <textarea rows="5" style="width:100%" id="codebox">print "Hello, World!"</textarea>
  <input type="button" value="Submit" id="evalbutton" />
  <input type="button" value="Restart" id="restartbutton" />

  <div id="message_output"></div>
  
  <script type="text/javascript" src="{{url_for('.static', filename='jquery.min.js', _external=True)}}"></script>
  <script type="text/javascript" src="{{url_for('.static', filename='namespace.js', _external=True)}}"></script>
  <script type="text/javascript" src="{{url_for('.static', filename='utils.js', _external=True)}}"></script>
  <script type="text/javascript" src="{{url_for('.static', filename='kernel.js', _external=True)}}"></script>
  <script type="text/javascript" src="{{url_for('.static', filename='interaction.js', _external=True)}}"></script>
</body>

</html>
