html {
  font-size: 62.5%; }

/*Apply this class to some text to unlock the secrets of the third dimension!*/
.inset {
  text-shadow: -2px -1px #666666, 2px 1px white;
  /*text-shadow:#fff 0px 3px 0, #000 0 -3px 0 !important;*/
  line-height: 3em;
  /*background-color: lightgray;*/
  font-size: 3em;
  font-weight: bold;
  color: gray;
  padding: 4em;
  opacity: 0.8; }

.alert {
  color: red;
  font-weight: bold; }

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30pt;
  background: #fff; }
  .deck-container .large {
    font-size: 200%; }
  .deck-container .small {
    font-size: 50%; }
  .deck-container .slide {
    background: #fff; }
    .deck-container .slide td {
      padding: 1rem; }
    .deck-container .slide th {
      text-decoration: underline;
      text-align: left !important; }
    .deck-container .slide .canceled {
      text-decoration: line-through;
      color: lightgray; }
    .deck-container .slide .centered {
      /* from http://blog.themeforest.net/tutorials/vertical-centering-with-css/ */
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 20px; }
    .deck-container .slide .right {
      margin-left: 50%; }
    .deck-container .slide .bevel {
      text-shadow: 0 1px 0 white; }
    .deck-container .slide .author {
      position: fixed;
      bottom: 0;
      color: black !important;
      padding-bottom: 10pt; }
      .deck-container .slide .author a {
        color: black !important; }
    .deck-container .slide .aligntop {
      text-valign: center; }
    .deck-container .slide .sagecell {
      font-size: 2rem;
      		    /*
      		    .sagecell_sliderControl {
      			margin-left: 1em;
      			margin-right: 1em;
      		    }
      		    .sagecell_options {
      			font-size: $fontsize;
      		    }
      		    .sagecell_evalButton {
      			font-size: $fontsize;
      		    }
      */ }
    .deck-container .slide h1 {
      color: #008;
      font-size: 72pt; }
    .deck-container .slide h2 {
      color: #00c;
      border-bottom-color: #ccc;
      font-size: 38pt; }
    .deck-container .slide h3 {
      color: #888; }
    .deck-container .slide pre {
      border-color: #ccc; }
    .deck-container .slide code {
      color: #888; }
    .deck-container .slide blockquote {
      font-size: 2em;
      font-style: italic;
      padding: 1em 2em;
      color: #000;
      border-left: 5px solid #cccccc; }
      .deck-container .slide blockquote p {
        margin: 0; }
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888; }
    .deck-container .slide ::-moz-selection {
      background: #c00;
      color: #fff; }
    .deck-container .slide ::selection {
      background: #c00;
      color: #fff; }
    .deck-container .slide .block {
      border: 1px solid;
      padding: 10px;
      border-radius: 5px; }
    .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
      color: #00c;
      text-decoration: none; }
    .deck-container .slide a:hover, .deck-container .slide a:focus {
      text-decoration: underline; }
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    display: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf; }
